<div id="loginModal">
	<span id="close1">&times;</span> 
	<%= erb :login %>
</div>

<div id="signupModal">
	<span id="close2">&times;</span> 
	<%= erb :signup %>
</div>

    <div class="buttons"><button class="login">Log In</button>
    <button class="signup">Sign Up</button></div>


<div id="home_div">
	<img class ="headerImage" src="http://softqubes.3oifjlvvrmv.maxcdn-edge.com/wp-content/uploads/2016/05/web-development.jpg" />
	<div id="decoded">DECODED</div>
</div>

<div class="recentContain">

	<div class="info">
		<h4>ActiveDeCoded is a space that coders at any skill level can come to share thoughts on anything code related. Here are some topics our users typically write about:</h4><ul>
			<li>Tutorials</li>
			<li>Challenges</li>
			<li>Successes</li>
			<li>Work Related Struggles</li>
			<li>Side Projects</li>
			<li>Portfolio Advice</li>
			<li class="more"> and much more...</li>
		</ul>
		<p><em>“Remember that code is really the language in which we ultimately express the requirements. We may create languages that are closer to the requirements. We may create tools that help us parse and assemble those requirements into formal structures. But we will never eliminate necessary precision—so there will always be code.”</em> ― Robert C. Martin</p>
</div>

	<div class="recent">
		<h1>Recent Posts</h1>
	<% @recent.limit(10).each do |post| %>
		<div class="recentPosts">
			<p><a href="/blogpost/<%= post.id %>"><%= post.title %></a></p></div>
	<% end %>
	<h3><a href="/allblogposts">View all posts</h3>
	</div>

</div>

<footer>
	<i class="fa fa-facebook-official" aria-hidden="true"></i>
	<i class="fa fa-instagram" aria-hidden="true"></i>
	<i class="fa fa-twitter" aria-hidden="true"></i>
</footer>