<!DOCTYPE html>
<html>
   <head>
       <title></title>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>


       <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" type="text/css" href="/css/default.css" />
   </head>
   <body class="<%= @class %>">
      <% if flash[:message] %>
        <div id="flash"><%= flash[:message] %><span id="closeFlash">&times;</span></div>
      <% end %>
      <div class="navHeader">
      <h1 class="nav" >ActiveDeCoded</h1>
    <nav>
      <ul>
        <li><a class="nav" href="/">home</a></li>
        <li><a class="nav" href="/allprofiles">profiles</a></li>
        <li><a class="nav" href="/allblogposts">posts</a></li>
        <% if @current_user %>
          <li><em><a class="user" href="/profile/<%= current_user.id %>">My Account</a></em></li>
          <li><em><a class="user" href="/writeblogpost">New Post</a></em></li>
          <li><em><a class="user" href="/logout">Logout</a></em></li>
        <% end %>
      </ul>
    </nav>
  </div> <!-- end of navHeader -->
       <%= yield %>
     <script src="/js/main.js"></script>
   </body>
</html>