<div id="login_page">
<h1>Log in to</h1>
<form id="login" method="POST" action="/">
	<div id="login_form">
		<div id="enter_username">
			<label for="username"></label>
			<input id="enter_username" type="text" name="username" placeholder="Username">
		</div>
		<div id="enter_password">
			<label for="password"></label>
			<input id="password" type="text" name="password" placeholder="Password">
		</div>
		<div id="login_box">
			<input id="login_button" type="submit" value="Log in"/>
		</div>
	</div>
</form>
</div>
