<div id="login_page">
<h1>Log in to ActiveDeCoded</h1>
<form id="login" method="POST" action="/login">
	<div id="login_form">
		<div id="enter_username">
			<input id="enter_username" type="text" name="username" placeholder="Username">
		</div>
		<div id="enter_password">
			<input id="password" type="password" name="password" placeholder="Password">
		</div>
		<div id="login_box">
			<input id="login_button" type="submit" value="Log In"/>
		</div>
	</div>
</form>
</div>
