<div id="signup_page">
<h1>Join .. today</h1>
<form id="signup" method="POST" action="/home">
	<div id="signup_info">
		<div id="ask_fullname">
			<input id="fullname" type="text" name="fullname"placeholder="Full name">
		</div>
		<div id="ask_username">
			<input id="username" type="text" name="username"placeholder="Username">
		</div>
		<div id="ask_email">
			<input id="email" type="text" name="email"placeholder="Email">
		</div>
		<div id="ask_password">
			<input id="password" type="text" name="password"placeholder="Password">
		</div>
		<div id="profile_image_upload">
			<label>Upload a profile picture
				<br>
			<input id="image_button" type="file" name="profile_pic" accept=".jpg, .jpeg, .png">
			</label>
		</div>
		<div id="signup_box">
			<input id="signup_button" type="submit" value="Sign Up"/>
		</div>
	</div>
</form>
</div>
