<div id="signup_page">
<h1>Join .. today</h1>
<form id="signup" method="post" action="/signup">
	<div id="signup_info">
		<div id="ask_fullname">
			<input id="fullname" type="text" name="fullname" placeholder="Full name">
		</div>
		<div id="ask_username">
			<input id="username" type="text" name="username" placeholder="Username">
		</div>
		<div id="ask_email">
			<input id="email" type="text" name="email" placeholder="Email">
		</div>
		<div id="ask_password">
			<input id="password" type="password" name="password" placeholder="Password">
		</div>
		<div id="signup_box">
			<input id="signup_button" type="submit" value="Sign Up"/>
		</div>
	</div>
</form>
</div>