<div id="writeblog_page">
<h1>Compose new blog post</h1>
<form id="writeblog" method="POST" action="/home">
	<div id="blog_box">
		<div id="blog_fill">
			<input id="blog_post" type="text" name="blog_post"placeholder="Write here">
		</div>
		<div id="post_box">
			<input id="post_button" type="submit" value="Submit your posting"/>
		</div>
	</div>
</form>
</div>
